*
{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	font-family: consolas;
}
section
{
	position: relative;
	min-height: 100vh;
	background: #130e23;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
section .text
{
	position: relative;
	text-align: center;
	color: #00cef4;
	margin: 40px;
	max-width: 650px; 
}
section .text span
{
	position: relative;
	display: inline-block;
}